@font-face {
  font-family: 'Long Cang';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=LYjAdGP8kkgoTec8zkRgrWguBA&skey=429db178d90bd0ed&v=v21) format('truetype');
}
