@font-face {
  font-family: 'Long Cang';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=LYjAdGP8kkgoTec8zkRgrWi0Vf76cL2Z2xuij2m2bJ0wMJrRyakWnYuHiH4umCQ4FG54U3iPnt24OnU93u3X9Rf6JHR8uQ3nfmyNxrcG_vcSDPN4xNPXpXTCZfTPJcQMR6CNbUSUYIXvbvyEza6rrsUjKAUBf0rZOHwLL8VziMCxNanjg3ydy4W2cp0MalGA_djzFwviwv5lGiq3kDce9I2G2-C4AFKcj0M5L866&skey=429db178d90bd0ed&v=v21) format('truetype');
}
