@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/l/font?kit=k3kCo84MPvpLmixcA63oeAL7Iqp5IZJF9bmaGzjCnYxV-ffy2Vhg2xtBAXrbZvdlFVkigmUK6I2SqUQJ2HvAWZfRDvGfV3mRN7hkZ8E-o8q6ahLGAhIjUlGsyzX67vh5HG7wm-47eDTkm7pIoe9zYLy_lBD4okkKr_gCSLJDTFfIQhm_8UYRMfW2sUxzlkarOnoInHO-eAG4IKiR8UnfHVDsgZkq2sBrtvhM0RvMl6Crm9xhETHXf1sUzdVlmrL6ePu5nQM7aeHuRKvG92Cv4jWPp1TvgP2759hiKa3G_0MxnubAN-mtqxl3AEa_XXIrZZY7vdLYVkh9rcgB9eFz4zqx1RrwUswM2gguzlafLpiD9UkyJ9zl4Jl_ZLfM862QTRvcoFH1MWbwS0A8-iNoANALxbf6dFjKgV6VZz8e1nfuF4kyxDjeEZHNaL6ih1QbIFTW05FXVkJnUQ6sz-luL__FqZf_GsSUtfKBnIdUzKGeaKN3RnWteTAcBSNUvL56fxBQueRX5z_A6dpIzeXJOr3Fl8oowimEevkrBDiFJCQsiOlpDAb2CnSZj3dkrDVxg9XVxQ&skey=cf0bb10b5602fdc3&v=v41) format('truetype');
}
