@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/l/font?kit=k3kCo84MPvpLmixcA63oeAL7Iqp5IZJF9bmaGzjCnYxVcBBrZpTzVNPRs6x_5CPOhYiuI7SWVoaTnA&skey=cf0bb10b5602fdc3&v=v41) format('truetype');
}
