@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=Fh4uPib9Iyv2ucM6pGQMWimMp004HaqQF53apXycwVtcWYCyRNir0fiu9zPN2ytzrTVReyLfZmEslmC31393LRworSbTdseJ2IoSJKi6sUlqQSbh0SwZXwzcQFZCBnp94kxcPmFkG77iXUPvLJLSqc0T6BybXbMRoAZuNo-xrZhTbxp7Tw4&skey=84f486597b8007d1&v=v16) format('truetype');
}
