@font-face {
  font-family: 'ZCOOL KuaiLe';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=tssqApdaRQokwFjFJjvM6h2WppQwqlh_8_4DEzVB1COYl22cKhIb0RymNxQO7oOSNhVGcrak4O_6C4gpE3P1pWxI9a87HDbag1nhShKfjBdroZQwdNtPFBCIC9JfvyGu10458ZZYh3GAuDhkQPsbGQu-hvDI21r0WqOH-Ld7wI0WYdW5F5zeEgUQXbAFOcoK1EwOR7Giu5n-wU2jEDG0mTM1D31I3P7DTjqA7P6abuMlwA9b3goF2oyLVYCGh9XgD2eARfKdYO593V8KrGZFWPtHDMYsBhzUaGIHU26-OXG28xi1LhkvV4wJNRjXq5hsQ9zrFt73k2sdznQyanNzvB9U48yQtnb3rwKNNUsREet7DWtRc7YNVwMs9rxbiwNckYzNLGYlSt2UCWnpI8FWLg7XBJd7Ju81aNtoJ4UniQydVnwd3T7kri_uijZ_SQBNDfge0NVhp4o1PeN2P14dY2J4PrfZ93d8qhvs8s7k7MNM08GUUtN9Nb143JyKwqcfmrWD5Jg5oZz4G1NLR0VHODjSsxKQC-gy3midQlYea236siaQyGJIFs7cjmx__NIlSE95jFBdS7p2IWbMyWWGDGr6Qs_SSe8YG1PlNZioDJhQ4c6WzsJiuoish8EV&skey=4a28408937fb030&v=v22) format('truetype');
}
